<!DOCTYPE html>
<html>

<head>
    {% block head %}
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Tell the browser it's a PWA -->
    <meta name="mobile-web-app-capable" content="yes">
    <!-- Tell iOS it's a PWA -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Make sure theme-color is defined -->
    <meta name="theme-color" content="#E91E63">
    <!--
      manifest.json provides metadata used when your web app is added to the
      homescreen on Android. See https://developers.google.com/web/fundamentals/engage-and-retain/web-app-manifest/
    -->
    <link rel="manifest" href="/manifest.json">
    <link rel="shortcut icon" href="/static/img/lorjula-ic.png">
     <link rel="stylesheet" href="/static/css/prism.css">  
    <!--
      Notice the use of %PUBLIC_URL% in the tags above.
      It will be replaced with the URL of the `public` folder during the build.
      Only files inside the `public` folder can be referenced from the HTML.

      Unlike "/favicon.ico" or "favicon.ico", "%PUBLIC_URL%/favicon.ico" will
      work correctly both with client-side routing and a non-root public URL.
      Learn how to configure a non-root public URL by running `npm run build`.
    -->

    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/css/paper-kit.css" rel="stylesheet"/>

    <!--     Fonts and icons     -->
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,300,700' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/nucleo-icons.css" rel="stylesheet" />

    <meta name="description" content="เป็นเวปไซต์ รวบรวมเรื่องเกร็ดความรู้ต่าง ๆ ไม่ว่าจะเป็นเรื่องเกี่ยวกับไอที การเขียนโปรแกรม รีวิว และอื่น ๆ อีกมากมาย...">
    <meta name="robots" content="noodp">

    <!-- facebook open graph tags -->
    <meta property="og:locale" content="th_TH">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://lorjula.com">
    <meta property="og:site_name" content="Lorjula.com">

    <!-- twitter card tags additive with the og: tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:domain" value="Lorjula.com" />
    <meta name="twitter:url" value="https://lorjula.com/" />
    <meta name="twitter:card" content="summary">

    <title>Lorjula.com{% block title %}{% endblock %}</title>
	<style>
		body,
		h1 {
			font-family: "Raleway", sans-serif
		}

		body,
		html {
			height: 100%
		}

		.bgimg {
			min-height: 100%;
			background-position: center;
			background-size: cover;
		}
    </style>
    
    <link href="/static/css/main.042f7806.css" rel="stylesheet">
    <script src="/static/js/prism.js"></script>
    {% endblock %}
</head>

<body>
    {% block content %}
        <noscript>
            You need to enable JavaScript to run this app.
        </noscript>
        <div id="root"></div>
    {% endblock %}
    {% block footer %}
        <script type="text/javascript" src="/static/js/main.7e518fc6.js"></script>
        <script type="text/javascript" src="/static/js/prism.js"></script>
    {% endblock %}
</body>

</html>