{% extends "base.html" %} 

{% block title %} {% endblock %} 
{% block head %}
	{{ parent() }}

	{% if (page == 'home') %}
		<!-- facebook open graph tags -->
		<meta property="og:title" content="">
		<meta property="og:image" content="">
		<meta property="og:description" content="">

		<!-- twitter card tags additive with the og: tags -->
		<meta name="twitter:title" content="" />
		<meta name="twitter:image" content="" />
		<meta name="twitter:description" value=""/>

		<link rel="canonical" href="https://mysite.com">
	{% endif %}
	{% if (page == 'post') %}
    <!-- facebook open graph tags -->
    <meta property="og:title" content="{{post.title}}" />
    <meta property="og:image" content="http://mysite.com/storage/{{post.image}}">
	<meta property="og:description" content="{{post.excerpt}}">
	
    <!-- twitter card tags additive with the og: tags -->
    <meta name="twitter:title" content="{{post.title}}" />
    <meta name="twitter:image" content="http://mysite.com/storage/{{post.image}}" />
	<meta name="twitter:description" value="{{post.excerpt}}"/>
	
    <link rel="canonical" href="https://mysite.com/post/{{post.id}}">
	{% endif %}
	{% if (page == 'category') %}
	<!-- facebook open graph tags -->
	<meta property="og:title" content="{{category.name}}">
	<meta property="og:image" content="">
	<meta property="og:description" content="">

	<!-- twitter card tags additive with the og: tags -->
	<meta name="twitter:title" content="{{category.name}}" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:description" value=""/>

	<link rel="canonical" href="https://mysite.com/category/{{category.name}}">
	{% endif %}
	
{% endblock %} 

{% block content %}
	{{ parent() }}
{% endblock %} 

{% block footer %}
	{{ parent() }} 
{% endblock %}